// profession
//-----------------------------------------------------------------------------------
.section-banner.css-profession
  min-height: 100%
  background: #171b2d url(../images/bg-banner-2.jpg) no-repeat center/cover
  h2
    margin-top: 440px
    color: white
    font: 300 36px $open
    @media (max-width: $screen-xs-max)
      margin-top: 0
      padding-top: 40px

    span
      font-weight: 400
  .text-style-3
    margin-bottom: 65px

.sidebar
  .titles-profession
    color: #9b9b9b
    font: 400 13px/16px $open

  .style-text-5
    margin-bottom: 25px
    color: black
    font: 400 18px/36px $open


.page-content
  .branches-section
    margin-bottom: 60px
    ul
      @extend %clear-fix
      margin-top: 18px
      margin-bottom: 5px

    li
      @extend %clear-fix
      float: left
      box-sizing: border-box
      width: 50%

    img
      float: left

    p
      display: block
      margin-left: 75px
      color: black
      font: 300 16px/50px $open

  .partner-section
    .owl-controls
      position: absolute
      top: 50%
      right: 0
      left: 0
      margin-top: -28px
      height: 0

    .owl-nav
      @extend %clear-fix
      height: 0

    .owl-prev, .owl-next
      width: 56px
      height: 56px
      border: 1px solid #4a72f5
      border-radius: 100%
      color: #4a72f5
      text-align: center
      font-size: 20px
      line-height: 54px
      opacity: 0.3
      cursor: pointer
      transition: all .12s ease
      &:hover
        opacity: 1

    .owl-prev
      float: left
    .owl-next
      float: right
      .icon-arrow-l:before
        transform: rotate(180deg)

  .partner.css-slider
    box-sizing: border-box
    margin: 0 auto
    padding: 15px 100px 20px
    width: 100%
    li
      display: block
      float: none
      text-align: center
    a
      display: inline-block
      img
        display: inline-block
        vertical-align: middle

  .necessary-section
    @extend %clear-fix
    .necessary, .salary
      float: left
      box-sizing: border-box
      width: 50%
      @media (max-width: $screen-xs-max)
        width: 100%

    .necessary
      padding-right: 15px
      @media (max-width: $screen-xs-max)
        margin-bottom: 20px
        padding-right: 0
      ul
        @extend %clear-fix
        margin-bottom: 10px
      li
        float: left
        box-sizing: border-box
        padding-left: 20px
        width: 33.33%
        &:first-child
          padding-left: 0
          p:before
            display: none
        img
          margin-bottom: 10px
        p
          position: relative
          color: black
          font: 400 14px/20px $open
          &:before
            position: absolute
            top: 0
            left: -20px
            color: #2a2d30
            content: '+'
            font: 400 14px $open
      p
        color: black
        font: 400 14px/20px $open


    .salary
      padding-left: 15px
      @media (max-width: $screen-xs-max)
        padding-left: 0
      .chart
        margin-top: 20px
      li
        display: block
        width: 100%
      p
        display: inline-block
        float: left
        width: 215px
        color: black
        font: 400 14px/34px $open
      a
        border-bottom: 1px dashed rgba(155, 155, 155, 0.5)
        color: #9b9b9b
        text-decoration: none
        font: 400 14px/34px $open
        img
          display: inline-block
          margin-left: 5px
          vertical-align: baseline
        &:hover
          border-color: transparent

  .competence-section
    margin-bottom: 70px
    //items skill
    //-----------------------------------------------------------------------------------
    .item
      position: relative
      margin-bottom: 45px
      &.after-none
        margin-bottom: 0
        &:after
          display: none

      &:after
        position: absolute
        right: -30px
        bottom: -30px
        left: -30px
        height: 1px
        background-color: #f5f8fa
        content: ''
      &:last-child
        margin-bottom: 0
        &:after
          display: none

      .title-competence
        color: black
        font: 400 18px/50px $open

    // skill
    //-----------------------------------------------------------------------------------
    .competence
      position: relative
      &.js-open
        .right-competence
          opacity: 1
          visibility: visible
    .skill
      margin: 0 -30px
      li
        @extend %clear-fix
        padding: 20px 30px
        transition: all .12s ease
        &:hover
          padding: 24px 30px
          background-color: #e2e3e9
          cursor: pointer
          .skill-nav
            opacity: 1
            visibility: visible
            margin: -24px -30px -24px 20px
            height: 66px
            li
              padding: 24px

      .name
        display: block
        float: left
        color: black
        font: 400 13px $open

      .el-progress-wrap
        float: right

    .skill-nav
      opacity: 0
      visibility: hidden
      @extend %clear-fix
      display: inline-block
      float: right
      overflow: hidden
      margin: -20px -30px -20px 20px
      width: 280px
      height: 58px
      transition: all .12s ease
      li
        float: left
        padding: 20px 24px
        border-left: 1px solid white
        transition: all .12s ease
        &:first-child
          border-left: none
      a i:before
        margin: 0
        color: #9b9b9b
        text-decoration: none
        font-size: 22px
      span
        color: black
        font: 400 13px $open

    .right-competence
      opacity: 0
      visibility: hidden
      position: absolute
      top: -35px
      right: -30px
      bottom: 31px
      width: 290px
      background-color: #e2e3e9
      .title
        @extend %clear-fix
        margin-bottom: 10px
        padding-left: 30px
        color: black
        font: 400 13px/67px $open
        span
          color: #9b9b9b

        button
          float: right
          width: 67px
          height: 67px
          background-color: #c8cccf
          text-align: center
          line-height: 67px
          img
            vertical-align: middle
      .list-competence
        padding: 0px 10px 0 20px
        li
          position: relative
          display: block
          padding: 10px 35px 10px 10px
          color: black
          font: 400 13px $open
          transition: all .12s ease
          &.active
            color: $color-blue

          &:after
            position: absolute
            top: 50%
            right: 10px
            visibility: hidden
            margin-top: -9px
            width: 18px
            height: 18px
            background: url(../images/icons/info-icon.svg) no-repeat center
            content: ''
            opacity: 0

          &:hover
            background-color: #c8cccf
            color: $color-blue
            cursor: pointer
            &:after
              visibility: visible
              opacity: 1

      .scroll-wrap
        box-sizing: border-box
        padding-right: 10px
        height: 470px
    // more-link
    //-----------------------------------------------------------------------------------
    .more-link
      display: inline-block
      margin-top: 10px
      color: #9b9b9b
      text-decoration: none
      font: 400 13px/20px $open
      &:hover
        text-decoration: underline
      i
        text-decoration: none
        vertical-align: baseline
        font-size: 18px


  .academic-plan-section
    .style-text-6
      color: black
      font: 400 14px/30px $open

    .academic-banner
      margin-bottom: 10px
      background-color: #f7fafc
      h3
        margin-top: 25px
        margin-bottom: 10px
        color: black
        font: 400 20px/24px $open
      p
        color: black
        font: 400 16px/24px $open

      .yandex
        margin-top: 20px

  .academic-plan
    position: relative
    margin-top: 35px
    margin-bottom: 20px
    padding-left: 60px
    border-left: 1px solid #dce1e7
    @media (max-width: $screen-xs-max)
      padding-left: 0
      border-left: none

    &:after
      position: absolute
      bottom: -16px
      left: -9.5px
      border: 8px solid transparent
      border-top: 8px solid #dce1e7
      content: ""
      @media (max-width: $screen-xs-max)
        display: none

    li
      position: relative
      margin-bottom: 30px
      padding: 25px 100px 25px 27px
      border-left: 4px solid #f7fafc
      background-color: #f7fafc
      @media (max-width: $screen-xs-max)
        padding-right: 25px

      &.complete
        border-left: 4px solid #61e7d6

      &.active
        border-left: 4px solid #4a72f5
        &:before
          background: url(../images/academic-before-active.svg) no-repeat left center

      &.hover
        border-left: 4px solid #4a72f5
      &:before
        position: absolute
        top: 50%
        left: -71px
        z-index: 0
        margin-top: -7px
        width: 67px
        height: 14px
        background: url(../images/academic-before.svg) no-repeat left center
        content: ''
        @media (max-width: $screen-xs-max)
          display: none

      &:after
        position: absolute
        top: 50%
        right: 40px
        margin-top: -13px
        width: 26px
        height: 26px
        background: url(../images/icons/info-icon.svg) no-repeat center/cover
        content: ''
        opacity: .8
        @media (max-width: $screen-xs-max)
          display: none

    .title-name
      margin-bottom: 13px
      color: #4a72f5
      font: 400 16px/24px $open

      a
        color: black
        text-decoration: none

    .progress-wrap
      @extend %clear-fix
      display: block
      margin-top: 1px
      width: 140px
      line-height: 17px


      .progress
        display: block
        float: left
        overflow: hidden
        margin-top: 6px
        width: 100px
        height: 6px
        border-radius: 2px
        background-color: #eff4f7
      .bar
        display: block
        height: 6px
        border-radius: 2px 0 0 2px
        background-color: #61e7d6

      .prosent
        float: right
        color: black
        font: 400 12px $open

    .specialization
      margin-top: 15px
      @extend %clear-fix
      color: #4a72f5
      font: 400 13px/15px $open
      a
        color: black
        text-decoration: none
      .data
        color: black
      .medal
        img
          margin-left: 5px
          vertical-align: middle
      span
        float: right
        margin-right: 30px
        color: #9b9b9b

