// elements
//-----------------------------------------------------------------------------------

// rating
//-----------------------------------------------------------------------------------
.el-rating
  .rating
    border: none
    float: left


  .rating > input
    display: none


  .rating > label:before
    margin: 3.8px
    font-size: 16px
    font-family: "font-icon"
    display: inline-block
    content: "\e80c"
    cursor: pointer
    //\e80c
    //\e80e
    //\e80f

  .rating > .half:before
    content: "\e80f"
    position: absolute


  .rating > label
    color: #ddd
    float: right


  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label
    color: #f9be6b


// btn style
//-----------------------------------------------------------------------------------
.el-btn
  box-sizing: border-box
  padding: 11px 20px
  height: 40px
  border: 2px solid white
  border-radius: 3px
  color: white
  text-align: center
  text-decoration: none
  font: 700 13px/1 $open
  transition: all .12s ease

  &:hover
    background: white
    color: black
    text-decoration: none

  &.mod-check
    display: block
    position: relative
    padding: 0
    color: #000
    border: 1px solid $color-blue
    text-align: left

    @media (max-width: $screen-xs-max)
      max-width: 280px
      margin: auto

    &.pos-top
      margin-top: 28px

    &.pos-bottom
      margin-top: 40px

      @media (max-width: $screen-xs-max)
        margin-top: 30px

    input
      position: absolute
      visibility: hidden
      
      &:checked ~ label
        background-color: $color-blue
        color: #fff

    label
      position: relative
      box-sizing: border-box
      display: block
      height: 100%
      line-height: 35px
      padding: 0 40px 0 20px
      font-weight: 400
      cursor: pointer

      .name
        display: inline-block
        vertical-align: middle
        line-height: 1

      .res-count
        position: absolute
        top: 0
        right: 18px

    &.mod-icon input:checked ~ label
      background-image: url(../images/icons/icon-check-white.svg)
      background-position: 134px center
      background-repeat: no-repeat

  &.blue-style
    border-color: $color-blue
    background-color: $color-blue
    &:hover
      background: none
      color: $color-blue

    &.inverse
      background: none
      color: $color-blue
      &:hover
        background: $color-blue
        color: white

  &.fiol-style
    border-color: $color-fiol
    background: none
    color: $color-fiol
    &:hover
      background-color: $color-fiol
      color: white

  &.pur-style
    border-color: $color-pure
    background-color: $color-pure
    &:hover
      background: none
      color: $color-pure

  &.grey-style
    border-color: $color-grey
    background-color: $color-grey
    &:hover
      background: none
      color: $color-grey

    &.inverse
      background: none
      color: $color-grey
      &:hover
        background: $color-grey
        color: white

  &.grey-light-style
    border-color: $color-grey-light
    background-color: $color-grey-light
    color: #a4acb8
    &:hover
      background: none

  &.cancel-style
    border-color: #e8ecf0
    background-color: #e8ecf0
    color: #ababab
    &:hover
      background: none
    &.mod-narrow
      max-width: 122px
      padding: 6px 20px

.el-field-title
  color: black
  font: 400 13px/1 $open
  margin-bottom: 16px

  button
    float: right
    margin-top: -2px
    font-size: 16px
    color: #d9dee5

    &:hover
      color: $color-pure


.el-check-group
  @media (max-width: $screen-xs-max)
    max-width: 280px
    margin: auto

  .el-btn
    border-radius: 0

  &.mod-horizontal
    @extend %clear-fix
    max-width: 100%
    font-size: 0

    @media (max-width: $screen-xs-max)
      text-align: center

    .el-btn
      display: inline-block
      width: 169px
      margin: 0

      @media (max-width: $screen-xs-max)
        display: block
        margin: auto

      & + .el-btn
        margin-left: 0

        @media (min-width: $screen-sm)
          border-left: none

        @media (max-width: $screen-xs-max)
          border-top: none
          margin: auto

      &:first-child
        border-radius: 3px 0 0 3px

        @media (max-width: $screen-xs-max)
          border-radius: 3px 3px 0 0

      &:last-child
        border-radius: 0 3px 3px 0

        @media (max-width: $screen-xs-max)
          border-radius: 0 0 3px 3px

  &.mod-vertical
    .el-btn
      & + .el-btn
        margin-left: 0
        border-top: none

      &:nth-child(2)
        border-radius: 3px 3px 0 0px

      &:last-child
        border-radius: 0 0 3px 3px

// select
//-----------------------------------------------------------------------------------
.el-select
  position: relative
  display: block
  margin: 0 auto
  max-width: 220px
  width: 100%
  color: rgba(black,.7)
  vertical-align: middle
  text-align: left
  user-select: none
  -webkit-touch-callout: none
  .hide
    position: absolute
    height: 0
    border: none
    color: rgba(0,0,0,0)

  .placeholder
    position: relative
    z-index: 3
    display: block
    overflow: hidden
    padding: 11px 22px 11px 15px
    height: 20px
    border: 1px solid rgba(22, 26, 44, 0.1)
    border-radius: 3px
    background-color: white
    color: rgba(black,.7)
    text-overflow: ellipsis
    white-space: nowrap
    font: 700 13px $open
    cursor: pointer
    transition: background .2s ease

    &:hover
      color: black
    //&:after
    //  position: absolute
    //  top: 16px
    //  right: 15px
    //  z-index: 5
    //  width: 11px
    //  height: 6px
    //  //background: url(../images/arow.svg)
    //  content: ''
    //  transform: rotate(180deg)
    //  @media (max-width: $screen-xs-max)
    //    width: 18px
    //    height: 10px
    //    top: 19px

  &.is-open
    z-index: 2
    label.error
      display: none
    .placeholder
      padding-bottom: 10px
      border-radius: 3px 3px 0 0
      &:after
        top: 15px
        right: 15px
        transform: rotate(0deg)
    .wraper-list
      visibility: visible
      opacity: 1
  .wraper-list
    position: absolute
    top: 100%
    left: 0
    z-index: 0
    visibility: hidden
    overflow: hidden
    box-sizing: border-box
    margin: 0
    padding: 0
    width: 100%
    border: 1px solid #f5f5f5
    border: 1px solid rgba(22, 26, 44, 0.1)
    border-top: none
    border-radius: 0 0 3px 3px
    background-color: white
    list-style: none
    opacity: 0
  ul
    overflow: hidden
    overflow-y: auto
    margin-bottom: 5px
    min-height: 20px
    max-height: 222px
    li
      display: block
      margin-right: 15px
      margin-left: 15px
      padding: 10px 5px 10px 5px
      border-bottom: 1px solid #e0e0e0
      color: rgba(black,.7)
      text-align: left
      font: 700 13px $open
      cursor: pointer
      transition: all .2s ease
      &:last-child
        border-bottom: none
      &:hover
        color: black


//
//-----------------------------------------------------------------------------------

.el-item-course
  position: relative
  box-sizing: border-box
  margin-top: 32px
  padding: 0 30px 30px
  height: 460px
  background-color: white
  box-shadow: 0 3px 10px rgba(22, 26, 44, 0.1)
  transition: all .12s ease

  &:hover
    box-shadow: 0 5px 40px rgba(22, 26, 44, 0.25)
    cursor: pointer
  //.hover-block
  //  opacity: 1
  //  visibility: visible

  .stock
    position: absolute
    top: -32px
    left: 0
    overflow: hidden
    box-sizing: border-box
    padding: 0 30px
    width: 100%
    height: 32px
    border-radius: 3px 3px 0 0
    background-color: #61e7d6
    color: white
    text-align: left
    font: 700 12px/32px $open

    &.css-color-yel
      background-color: #61e7d6
    &.css-color-pur
      background-color: #61e7d6

  .img-wrap
    display: block
    margin: 0 -30px 15px
    height: 220px
    background: #9b9b9b no-repeat center/cover

  .tags
    margin-bottom: 19px
    li
      display: inline-block
      &:last-child a:after
        display: none
    a
      display: inline-block
      color: #9b9b9b
      text-decoration: none
      font: 400 13px/18px $open
      &:after
        content: ','
      &:hover
        text-decoration: underline

  .name
    display: block
    color: black
    text-decoration: none
    font: 400 16px/22px $open

  .announce
    margin-top: 10px
    color: #4a4a4a
    font: 400 13px/18px $open

  .bottom-item
    position: absolute
    bottom: 30px
    left: 30px
    height: 35px

  .data
    position: relative
    padding-left: 22px
    color: black
    font: 400 13px/18px $open
    &.css-color-yel:before
      background-color: #f9be6b
    &:before
      position: absolute
      top: 3px
      left: 0
      overflow: hidden
      width: 12px
      height: 12px
      border-radius: 100%
      background-color: #61e7d6
      content: ''

  .group
    margin-top: 2px
    color: #9b9b9b
    font: 400 13px/18px $open
    &:hover
      text-decoration: underline

  .hover-block
    position: absolute
    top: 0
    left: 0
    z-index: 1
    box-sizing: border-box
    padding: 30px
    width: 100%
    //opacity: 0
    //visibility: hidden
    height: 100%
    transition: all .12s ease
    background: #7a34b8 no-repeat center/cover
    cursor: pointer
    &:hover
      &:after
        opacity: 0.9
        height: 100%
      .el-btn
        background: white
        color: #fb5570

    &:after
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 3px
      background-color: #fb5570
      content: ''
      transition: all .3s ease

    .wraper-text
      position: absolute
      bottom: 0
      left: 0px
      box-sizing: border-box
      padding: 30px
      width: 100%
      z-index: 2

    .title
      margin-bottom: 15px
      color: white
      font: 700 24px/33px $open

    .announce
      margin-bottom: 30px
      color: white
      font: 400 15px/20px $open

    .el-btn
      padding: 11px 35px


// progress-wrap
//-----------------------------------------------------------------------------------
.el-progress-wrap
  @extend %clear-fix
  display: block
  margin-top: 1px
  width: 140px
  line-height: 17px
  .progress
    display: block
    float: left
    overflow: hidden
    margin-top: 6px
    width: 100px
    height: 6px
    border-radius: 2px
    background-color: #eff4f7
  .bar
    display: block
    height: 6px
    border-radius: 2px 0 0 2px
    background-color: #61e7d6

  .prosent
    float: right
    color: black
    font: 400 12px $open

// labels-block 
//-----------------------------------------------------------------------------------
.el-labelcircle
  margin: 40px auto 50px
  .item-serves
    text-align: center
    @media (max-width: $screen-xs-max)
      margin-bottom: 70px
      &:last-child
        margin-bottom: 0
    img
      margin-bottom: 27px
      max-width: 151px
      width: 100%
      height: auto
    p
      display: block
      margin: 0 auto
      max-width: 290px
      color: black
      font: 400 18px/24px $open
      @media (max-width: $screen-sm-max)
        font-size: 14px
        line-height: 20px

.tag-filter-wrap
  @extend %clear-fix

.el-tag-filter
  box-sizing: border-box
  float: left
  height: 40px
  margin-right: 12px
  padding: 9px 10px 11px 18px
  border: 1px solid #9b9b9b
  border-radius: 3px
  color: $color-grey
  font: 400 13px $open
  cursor: pointer

  @media (max-width: $screen-xs-max)
    //display: block
    //float: none
    margin-bottom: 10px

  &:hover
    button
      color: $color-pure

  button
    margin-top: -3px
    margin-left: 2px
    font-size: 16px
    color: $color-grey
    transition: color .15s

// social share block 
//-----------------------------------------------------------------------------------
.el-social-links
  li
    float: left
    margin-left: 10px
    &:first-child
      margin-left: 0
    a
      display: inline-block
      width: 25px
      height: 25px
      border-radius: 100%
      color: white
      text-align: center
      font-size: 16px
      line-height: 25px
      text-decoration: none
      transition: all 0.12s ease
      &.facebook:hover
        color: #4867aa
      &.youtube:hover
        color: #d0021b
      &.tw:hover
        color: #4a90e2
      &.gplus:hover
        color: #fb5570
      &.vk:hover
        color: #36538e

// social share block wrap
//-----------------------------------------------------------------------------------
.el-section-banner-share, .section-banner-share
  text-align: right
  @media (max-width: $screen-xs-max)
    text-align: left

// singlepage-txt (article)
//-----------------------------------------------------------------------------------
.singlepage-content
  .singlepage-content-txt
    margin-bottom: 38px
    p
      margin-bottom: 40px
      font-size: 18px
      line-height: 30px
      &:last-child
        margin-bottom: 0
      @media (max-width: $screen-xs-max)
        margin-bottom: 15px
  .singlepage-content-bottom
    .singlepage-content-bottom-right
      text-align: right
      p
        font-size: 14px
        display: inline-block
        margin-right: 10px
      .social
        @extend .el-social-links
        display: inline-block
        vertical-align: middle
        li
          a
            color: #9b9b9b
      @media (max-width: $screen-xs-max)
        text-align: left
        margin-top: 20px
    .singlepage-content-bottom-back
      color: #000
      text-decoration: none
      font-size: 14px
      // .icon-larr
      //   font-family: 'FontAwesome' !important
      //   color: #000
      //   display: inline-block

.el-search
  @media (max-width: $screen-xs-max)
    max-width: 280px
    margin: auto

  .input-wrap
    position: relative
    box-sizing: border-box
    height: 40px
    padding: 11px 20px 9px
    border: 1px solid #4a72f5
    border-radius: 3px 3px 0 0

    input
      width: 132px
      border: none

      @media (max-width: $screen-md-max)
        width: 100px

    .btn-search
      position: absolute
      right: 14px
      width: 18px
      height: 18px
      background: url(../images/icons/Search.svg) no-repeat center
      
  .list
    position: relative
    padding: 11px 0 40px 20px
    border: 1px solid #4a72f5
    border-top: none

  ul
    max-height: 104px
    overflow-y: auto

  li
    position: relative
    padding: 5px 42px 5px 0
    color: #000
    font: 400 13px $open
    cursor: pointer

    &.active:after
      position: absolute
      top: 7px
      right: 18px
      font-family: "font-icon"
      color: $color-blue
      content: '\e80b'

    span
      position: absolute
      top: 6px
      margin-left: 10px
      color: $color-grey

  .show-more
    position: absolute
    bottom: 12px
    color: $color-grey


// modal start-date-link

.start-date-link
  position: relative
  display: inline-block
  width: 100%
  margin-bottom: 10px
  background: #edf1fe
  // box-sizing: border-box
  color: #000
  text-decoration: none
  font: 400 13px/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
  &:last-child
    margin-bottom: 0
  .mod-started-txt
    display: none
    color: #9b9b9b
    position: absolute
    top: 15px
    right: 15px
    font: 400 13px/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
    font-style: normal
  span
    padding: 15px
    display: inline-block
    vertical-align: middle
  &.mod-started
    background: #fef8f0
    .mod-started-txt
      display: block
  &.mod-blue
    background: #4a72f5
    color: #fff
  @media (max-width: 540px)
    text-align: center
    // min-height: 60px
    line-height: 20px
    &.mod-started
      margin-bottom: 30px
      .mod-started-txt
        top: auto
        bottom: -20px
        right: auto
        left: 0

.ico
  display: inline-block
  vertical-align: middle
  &.ico-g-gal
    width: 19px
    height: 13px
    background: url(../images/icons/g-gal.svg) center no-repeat

.styled-cb
  label
    position: relative
    padding-left: 22px
    box-sizing: border-box
    width: 100%
  input[type='checkbox']
    display: none
    & + label:before
      content: ""
      position: absolute
      width: 14px
      height: 14px
      background: #5076f5
      left: 0
      top: 2px
      background-repeat: no-repeat
      background-position: center
    &:checked + label:before
      background-color: #5076f5
      background-image: url("../images/icons/cb-gal.png")

// Validation success and error
//-----------------------------------------------------------------------------------
b.error
  position: absolute
  top: 100%
  left: 0
  width: 100%
  margin-top: 4px
  height: 16px
  color: #fb5570
  font: 400 11px/1.2 $open

.form-input.error:not(.mod-pass),
.form-input.valid:not(.mod-pass),
.icon-pass
  position: relative
  &:before
    position: absolute
    display: inline-block
    top: 0
    right: 0
    width: 30px
    height: 100%
    font-family: "font-icon"
    font-style: normal
    font-weight: normal
    speak: none
    text-decoration: inherit
    margin-right: .2em
    text-align: center
    font-variant: normal
    text-transform: none
    line-height: 40px
    margin-left: .2em
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.form-input.error:not(.mod-pass):before
  color: $color-pure
  content: '\e806'

.form-input.valid:not(.mod-pass):before
  color: #61e7d6
  content: '\e80b'

.icon-pass
  position: absolute
  display: inline-block
  top: 0
  right: 0
  width: 40px
  height: 100%
  color: black
  line-height: 40px
  text-decoration: none
  &:before
    font-size: 14px
    content: '\e80a'
  &.show:before
    content: '\e810'

//new el style
//-----------------------------------------------------------------------------------------
section
  &.css-shadow
    padding: 20px 30px
    //border-radius: 3px
    background-color: white
    box-shadow: 0 9px 24px #e6eaf8
    
.el-grey-txt
  color: #9b9b9b

.el-black-txt
  color: #000

