// header
//-----------------------------------------------------------------------------------
.header
  padding: 20px 0
  background-color: black
  @media (max-width: $screen-xs-max)
    text-align: center

  .login-wrap-btn
    text-align: right
    margin-top: 5px
    @media (max-width: $screen-xs-max)
      text-align: center
      margin-top: 15px

  .logo-site
    @media (max-width: $screen-xs-max)
      display: inline-block
      margin-bottom: 10px

  .wrap-search
    position: relative
    padding-left: 135px
    margin-top: 5px
    @media (max-width: $screen-sm-max)
      padding-left: 140px

  .search
    position: relative
    display: inline-block
    width: 100%

  input
    box-sizing: border-box
    height: 40px
    width: 100%
    border: none
    border-bottom: 1px solid white
    background: white
    box-shadow: none
    color: black
    padding: 11px 20px
    padding-right: 50px
    border-radius: 0 3px 3px 0
    font: 400 14px/36px $open

  button
    position: absolute
    top: 10px
    right: 10px
    color: #4a72f5
    font-size: 18px

  .catalog-btn
    position: absolute
    z-index: 2
    top: 0
    left: 0

  .catalog-btn .el-btn
    width: 140px
    border-radius: 3px 0 0 3px
    &:hover
      background-color: $color-blue
      color: white

    @media (max-width: $screen-sm-max)
      width: 130px

  .catalog-btn .el-btn .icon-rectangle
    margin-right: 5px
