// Modal window
//-----------------------------------------------------------------------------------
.modal-button
  margin: 100px 0 50px
  li:not(:first-child)
    margin-top: 10px

.remodal
  box-sizing: border-box
  a.mod-gray
    text-decoration: none
    color: $color-grey
    &:hover
      text-decoration: underline

.remodal-close
  &:before
    font: 400 50px/34px 'Courier New', Arial, 'Helvetica Neue', Helvetica, sans-serif
    position: absolute
    top: 0
    left: 0
    display: inline-block
    width: 30px
    height: 30px
    content: '\00d7'
    color: $color-pure
  &:hover:before
    color: darken($color-pure, 20%)

.form-input
  position: relative

  input
    font: 14px/1.2 $open
    box-sizing: border-box
    width: 100%
    height: 40px
    padding: 8px 16px
    color: black
    border: 1px solid #dce1e7
    border-radius: 3px

//::placeholder
//  color: #a1a1a1
//  text-transform: uppercase
  //font: 300 20px/25px $open

.modal-title
  font: 300 24px/32px $open
  color: black
  @media (max-width: 479px)
    font-size: 24px

  b
    font-weight: 400

// Sign-up modal
//-----------------------------------------------------------------------------------
.mod-modal
  background: #f5f7ff

.wrapper-modal
  padding: 60px 0 100px
  text-align: center

.wrap-win
  position: relative
  display: inline-block
  box-sizing: border-box
  background: white
  box-shadow: 0 9px 24px #e6eaf8

.sign-content
  width: 570px
  padding: 52px 103px 58px
  @media (max-width: $screen-xs-max)
    padding: 52px 40px 58px
    width: 460px
  @media (max-width: 479px)
    padding: 52px 20px 58px
    width: 300px

.sign-social
  display: inline-block
  margin: 23px 0 17px
  @extend %clear-fix

  li
    float: left
  
  a
    display: inline-block
    width: 43px
    height: 40px
    text-decoration: none
    line-height: 40px
    text-align: center
    color: white
    &:hover
      opacity: .8

  .social-fb
    border-radius: 3px 0 0 3px
    background: #36538e

  .social-gpus
    background: #cf3420

  .social-vk
    background: #4e77a6

  .social-tw
    background: #17cbcc

  .text-social
    width: 70px
    border-radius: 0 3px 3px 0
    background: #4e77a6
    font: 700 13px/40px $open

.up-header
  .sign-in-btn,
  .sign-up-btn
    position: relative
    display: inline-block
    margin-bottom: 38px
    color: #9b9b9b
    font: 300 24px $open
    text-decoration: none
    &:not(.show):after
      position: absolute
      top: 100%
      left: 0
      width: 100%
      height: 1px
      background-image: linear-gradient(to right, #9b9b9b 60%, rgba(255, 255, 255, 0) 10%)
      background-position: top
      background-size: 5px 1px
      background-repeat: repeat-x
      content: ''
    &.show
      margin-right: 54px
      color: #3a3e45
      @media (max-width: 479px)
        margin-right: 0
        margin-bottom: 10px

  .in-for
    color: $color-grey
    font: 400 14px/1.2 $open

.sign-in-content,
.sign-up-content
  text-align: left

  label
    display: inline-block
    margin: 25px 0 10px
    color: black
    font: 400 14px/1.2 $open
    span
      color: #fb5570

  .form-buttons
    margin-top: 20px

.sign-in-content
  .el-btn
    width: 180px
    font-size: 14px
    @media (max-width: 479px)
      width: 120px

  .forgot-pass-link
    margin-left: 38px
    font: 400 14px/1 $open
    @media (max-width: 479px)
      margin-left: 20px

.sign-up-content .el-btn
  width: 100%
  height: 70px
  font-size: 18px
  @media (max-width: $screen-xs-max)
    height: 50px
    font-size: 15px

// Sing in / up thanks modal
//-----------------------------------------------------------------------------------
.sign-thx
  width: 480px
  padding: 50px 72px 58px
  text-align: left
  @media (max-width: $screen-xs-max)
    padding: 50px 60px
    width: 460px
  @media (max-width: 479px)
    padding: 50px 32px
    width: 300px

.sign-thx-title
  margin-bottom: 10px

.sign-thx-desc
  font: 300 16px/26px $open
  max-width: 300px
  margin-top: 10px
  color: black
  &.mod-small
    font-size: 13px
    line-height: 20px
    margin-top: 25px

// Forgot password modal
//-----------------------------------------------------------------------------------
.forgot-pass
  width: 570px
  padding: 55px 60px 58px
  text-align: left
  @media (max-width: $screen-xs-max)
    width: 460px
  @media (max-width: 479px)
    width: 300px
    padding: 50px 36px 32px

  .form-input
    margin: 24px 0 20px

  .forgot-pass-link
    display: inline-block
    font: 300 14px/30px $open
    @media (min-width: $screen-sm)
      margin-left: 36px
    @media (max-width: $screen-xs-max) and (min-width: $screen-xs)
      margin-left: 10px
    @media (max-width: $screen-xs-max)
      margin-top: 10px

// Forgot password thanks modal
//-----------------------------------------------------------------------------------
.forgot-thx
  width: 544px
  padding: 50px 60px 58px
  text-align: left
  @media (max-width: $screen-xs-max)
    width: 460px
  @media (max-width: 479px)
    width: 300px
    padding: 50px 36px 58px

.forgot-thx-link
  font: 300 18px/30px $open
  display: inline-block
  margin-top: 22px

// Promo code modal
//-----------------------------------------------------------------------------------

.promo-code
  width: 420px
  padding: 54px 55px 58px
  text-align: left
  @media (max-width: 479px)
    padding: 54px 50px 58px
    width: 300px

.promo-step-1
  margin-top: 22px

.promo-step-2
  display: none

  .form-input
    margin: 22px 0 20px

// Start date modal
//-----------------------------------------------------------------------------------
.start-date
  width: 533px
  padding: 54px 55px 58px
  text-align: left
  .start-date-content
    margin-top: 24px
    margin-bottom: 30px
  @media (max-width: 540px)
    padding: 54px 50px 58px
    width: 300px

// disable course modal
//-----------------------------------------------------------------------------------   
.disable-course
  width: 443px
  text-align: left
  padding: 54px 55px 58px
  .disable-course-content
    margin: 21px 0 25px 0
    color: #9b9b9b
    font: 300 20px/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
    line-height: 30px
    span
      margin-top: 20px
      display: inline-block
      color: #9b9b9b
      font: 300 13px/25px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
  
  .el-btn
    margin-right: 5px
    &:last-child
      margin-bottom: 0
    @media (max-width: 450px)
      margin-bottom: 20px
      margin-right: 0
      width: 80% 
      max-width: 80% !important
      padding: 11px 20px !important

  @media (max-width: 450px)
    padding: 54px 30px 58px
    width: 300px
    text-align: center

  &.mod-extended
    width: 613px
    @media (max-width: 620px)
      padding: 54px 30px 58px
      width: 300px
      .el-btn
        margin-bottom: 20px
        margin-right: 0
        width: 100% 
        max-width: 100% !important
        padding: 11px 20px !important

// pick-schedule modal
//-----------------------------------------------------------------------------------   
.js-toggle-variant
  cursor: pointer

.pick-schedule
  padding: 53px 54px 30px
  width: 838px
  text-align: left

  @media (max-width: $screen-sm-max)
    width: 600px

  &.wrap-win
    display: block
    margin: 0 auto

  &.smoll
    max-width: 535px

    .pick-schedule-content .pick-schedule-content-frame
      padding: 28px 30px 22px

    .mod-marg
      margin-bottom: 19px

    .marg
      margin-bottom: 12px

    .el-btn.pur-style.gross
      width: 186px
      height: 60px
      padding: 18px 20px
      font: 700 14px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
      &.mod-w
        width: 100%

    .strong
      display: block
      font: 400 18px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif

  .el-btn.pur-style.gross
    margin: 29px auto 0
    display: block
    width: 267px
    height: 80px
    padding: 24px 20px
    font: 700 18px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif

    @media (max-width: $screen-xs-max)
      width: 240px

  .pick-schedule-group
    margin: 20px 0
  .pick-schedule-content
    margin: 23px 0 29px 0
    .pick-schedule-content-bottom
      label
        font: 400 13px/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
        a
          text-decoration: none
          color: #a2a2a2
    .pick-schedule-content-frame
      box-sizing: border-box
      border: 1px solid #edf1fe
      position: relative
      padding: 26px 30px 24px 30px
      @extend %transition
      .pick-schedule-content-frame-price
        position: absolute
        left: 30px
        bottom: 27px
        font: 400 16px/20px $open
      .pick-schedule-content-frame-title
        color: #000
        margin-bottom: 16px
        font: 400 16px/20px $open
      p
        color: #9b9b9b
        font: 400 13px/20px $open
      
      &.mod-highlight
        background-color: #fafbfc
        border: 1px solid #4a72f5

      &.mod-large
        min-height: 198px
        padding-top: 22px

  @media (max-width: $screen-xs-max)
    width: 300px
    padding: 54px 30px 58px
    .modal-title
      text-align: center
    .pick-schedule-content
      .pick-schedule-group
        margin: 0
      .pick-schedule-content-frame
        margin-bottom: 15px !important
        padding: 10px 10px 48px 10px
        &.mod-half
          width: 100%
        .pick-schedule-content-frame-price
          position: static
          margin-top: 15px
        .pick-schedule-content-frame-selected
          right: auto
          left: 10px

.modal-message
  display: inline-block
  padding: 54px 65px 56px 75px
  text-align: left
  color: #fff
  font-weight: 300

  @media (max-width: $screen-xs-max)
    padding: 25px 20px 20px

  .title
    font: 24px/30px $open

    & + .main-text
      margin-top: 14px

  .main-text
    font: 16px/26px $open

    & + .additional-text
      margin-top: 32px

  .additional-text,
  .link-wrap
    font: 14px/26px $open

  .link-wrap
    margin-top: 32px
    a
      margin-left: 30px
      font-weight: 700
      color: #fff
      text-decoration: none

      @media (max-width: $screen-xs-max)
        display: block
        margin-left: 0

      &:hover
        text-decoration: underline

      &:first-child
        margin-left: 33px

        @media (max-width: $screen-xs-max)
          margin-left: 0

    .el-btn
      box-sizing: border-box
      height: 50px
      max-width: 280px
      padding: 0 43px
      line-height: 48px
      background-color: #fff
      border: none
      color: $color-pure-light

      &:first-child
        margin-left: 0

  &.modal-thanksBuying
    max-width: 706px
    background-image: linear-gradient(45deg, #4a72f5 0%, #61e7d6 100%)

  &.modal-paymentDeclined
    max-width: 554px
    background-image: linear-gradient(45deg, #fb5570 0%, #fc8572 100%)

.toggle-variant-wrap
  position: relative
  display: block
  cursor: pointer

  &.mod-half
    float: left
    width: 50%

    @media (max-width: $screen-sm-max)
      float: none
      width: 100%

    .pick-schedule-content-frame
      padding: 14px 80px 15px 30px

      @media (max-width: $screen-sm-max)
        padding-right: 30px

      @media (max-width: $screen-xs-max)
        padding-right: 10px
        padding-left: 10px

    .select-check
      bottom: 16px

    .mod-large
      margin-top: -1px

      & ~ .select-check
        bottom: 26px

        @media (max-width: $screen-xs-max)
          bottom: 16px

    .mod-small
      margin-top: -1px

      @media (min-width: $screen-md)
        margin-left: -1px

  input[type="radio"],
  input[type="checkbox"]
    position: absolute
    visibility: hidden

    &:checked
      & ~ .toggle-variant-item
        z-index: 1
        background-color: #fafbfc
        border: 1px solid #4a72f5

      & ~ .select-check
        visibility: visible

  .select-check
    position: absolute
    z-index: 1
    right: 30px
    bottom: 26px
    visibility: hidden
    font: 600 13px/20px $open

    .ico
      margin-left: 11px

.toggle-name
  span:last-child
    display: none

  &.mod-second-name
    span
      &:first-child
        display: none
      &:last-child
        display: inline

.discount
  margin-left: 16px
  font: 400 12px/1 $open
  color: $color-pure

  
