<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body not-found-page">
        <div class="page-content">

            <!-- Begin Section 1 -->
            <section class="section-1 container">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 ">
                        <div class="block-404">
                            <div class="img">404</div>
                            <div class="description">
                                <div class="title-section">Ошибка 404</div>
                                <div class="note">К сожалению, страница, которую Вы запросили, не найдена.</div>
                                <div class="style-text-5">
                                    Вы можете вернуться в <a href="#">Каталог</a> или на <a href="#">Главную страницу</a>
                                    или воспользоваться поиском
                                </div>
                            </div>
                        </div>

                        <form class="form-search" action="#">
                            <input type="text" placeholder="Поиск">
                            <button class="el-btn blue-style" type="submit">Найти</button>
                        </form>
                    </div>
                    <div class="col-sm-4 col-sm-pull-8">
                        <div class="catalog-list">
                            <ul>
                                <li class="title"><a href="#">Каталог</a></li>
                                <li><a href="#">Бизнес</a></li>
                                <li><a href="#">ИТ</a></li>
                                <li><a href="#">Физика</a></li>
                                <li><a href="#">Математика</a></li>
                                <li><a href="#">Экономика</a></li>
                                <li><a href="#">Астрономия</a></li>
                                <li><a href="#">ДПО</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section 1 -->

        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>