<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper ">

    <!-- build:section layout.header -->
    <!-- /build -->

    <!-- Begin personal Page -->
    <div id="page-body" class="page-body personal-page courses-page">
        <div class="page-content left-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 content-wrap">
                        <!-- Begin sidebar -->
                        <div class="sidebar">
                            <ul class="list-nav">
                                <li><a href="#">Профиль</a></li>
                                <li><a href="#">Мои курсы</a></li>
                                <li><a href="#">Мои навыки</a></li>
                                <li><a href="#">Персональная траектория</a></li>
                                <li><a href="#">Мои сертификаты</a></li>
                                <li><a href="#">Подбор вакансий</a></li>
                                <li><a href="#">Настройки</a></li>
                            </ul>
                        </div>
                        <!-- End sidebar -->

                        <!-- Begin content -->
                        <div class="content">

                            <!-- Begin section-1 -->
                            <section class="css-shadow section-1 cours-status">
                                <div class="row">
                                    <h2 class="title-section col-sm-8">Привет, Мария Иванова!</h2>
                                    <div class="col-sm-4">
                                        <a class="logout" href="#"><img src="images/icons/icon-logout.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="wrap-img">
                                            <img src="images/img-persone.png" alt="img-persone">
                                        </div>
                                        <div class="wrap-info">
                                            <div class="bal">351 балл</div>
                                            <p class="small">Средний балл  65 из 100</p>
                                            <div class="sertificat">
                                                <img src="images/medal.svg" alt=""> Получен <b>1</b> сертификат!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Профессия</p>
                                        <div class="title">Junior Data Analyst</div>
                                        <span class="el-progress-wrap all-progress">
                                            <span class="prosent">23%</span>
                                            <span class="progress">
                                                <span class="bar" style="width:23%;"></span>
                                            </span>
                                        </span>
                                        <p class="small">2 курса пройдено из 5</p>
                                        <p>Вы развили 3 компетенции</p>
                                    </div>
                                </div>
                                <div class="courses-status">
                                    <a href="#">Идут 4 курса</a>
                                    <a href="#">Скоро начнуться 2</a>
                                    <a href="#">Пройдено 2</a>
                                    <a class="active" href="#">Все 14</a>
                                </div>
                            </section>
                            <!-- End section-1 -->

                            <!-- Begin section -->
                            <div class="title-section">Из учебного плана</div>
                            <section class="css-shadow skill-columns">
                                <div class="row course-block">
                                    <div class="col-md-3 col-lg-2 col-xs-3 text-center">
                                        <div class="img"><img src="images/courses/img-1.jpg" alt=""></div>
                                        <a href="#" class="partner-logo"><img src="images/courses/logo-2.png" alt=""></a>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="inform-block">

                                            <div class="course-desc">
                                                <div class="title-name">
                                                    Курс <a href="#">Программирование волшебных единорогов</a>
                                                </div>
                                                <div class="course-process">
                                                    <span class="black-txt">Пройден!</span>
                                                    <div class="sertificat"><img src="images/medal.svg" alt=""></div>
                                                    <div class="academic-performance">
                                                        <div class="progress">
                                                            <div class="line"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-success"></div>
                                                        </div>
                                                        <div class="icon-success"><img src="images/icons/icon-check.svg" alt=""></div>
                                                        <div class="addition-info">
                                                            <p class="mark"><span class="el-black-txt">70 из 100 баллов</span></p>
                                                            <p class="availability-cert"><span class="el-black-txt">Подтвержденный сертификат!</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- build:section layout.stars -->
                                                <!-- /build -->
                                            </div>

                                            <div class="share-info">
                                                <div class="visibility-block">
                                                    <button class="btn-white">К материалам курса</button>
                                                    <button class="btn-blue">Поделиться в соцсетях</button>
                                                    <button class="js-show-block btn-arrow"></button>
                                                </div>
                                                <div class="hidden-block">
                                                    <a class="btn-white" href="#">К странице курса</a>
                                                    <a class="btn-white" href="#">Сертификат</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- End section -->

                            <!-- Begin section -->
                            <section class="css-shadow skill-columns">
                                <div class="row course-block">
                                    <div class="col-md-3 col-lg-2 col-xs-3 text-center">
                                        <div class="img"><img src="images/courses/img-1.jpg" alt=""></div>
                                        <a href="#" class="partner-logo"><img src="images/courses/logo-2.png" alt=""></a>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="inform-block">

                                            <div class="course-desc">
                                                <div class="title-name">
                                                    Курс <a href="#">Программирование волшебных единорогов</a>
                                                </div>
                                                <div class="course-process">
                                                    <span class="black-txt">Пройден!</span>
                                                    <div class="sertificat"><img src="images/medal.svg" alt=""></div>
                                                    <div class="academic-performance">
                                                        <div class="progress">
                                                            <div class="line"></div>
                                                            <div class="academic-item"></div>
                                                            <div class="academic-item indic-success"></div>
                                                            <div class="academic-item indic-waiting"></div>
                                                            <div class="academic-item indic-fail"></div>
                                                            <div class="academic-item"></div>
                                                            <div class="academic-item"></div>
                                                        </div>
                                                        <div class="icon-success"><img src="images/icons/icon-check.svg" alt=""></div>
                                                        <div class="addition-info">
                                                            <p class="mark"><span class="el-black-txt">70 из 100 баллов</span></p>
                                                            <p class="availability-cert"><span class="el-grey-txt">сертификат</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- build:section layout.stars -->
                                                <!-- /build -->
                                            </div>

                                            <div class="share-info">
                                                <div class="visibility-block">
                                                    <button class="btn-white">К материалам курса</button>
                                                    <button class="btn-blue">Поделиться в соцсетях</button>
                                                    <button class="js-show-block btn-arrow"></button>
                                                </div>
                                                <div class="hidden-block">
                                                    <a class="btn-white" href="#">К странице курса</a>
                                                    <a class="btn-white" href="#">Сертификат</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- End section -->

                            <!-- Begin group courses -->
                            <div class="group-courses">

                                <!-- Begin section -->
                                <section class="css-shadow skill-columns specializ-block">
                                    <div class="row course-block">
                                        <div class="col-md-3 col-lg-2 col-xs-3 text-center">
                                            <div class="img"><img src="images/courses/img-1.jpg" alt=""></div>
                                            <a href="#" class="partner-logo"><img src="images/courses/logo-2.png" alt=""></a>
                                            <a href="#" class="partner-logo"><img src="images/courses/logo.jpg" alt=""></a>
                                            <a href="#" class="partner-logo"><img src="images/courses/logo-3.png" alt=""></a>
                                        </div>
                                        <div class="col-md-9 col-lg-10">
                                            <div class="inform-block">
                                                <div class="course-desc">
                                                    <div class="title-name">
                                                        Специализация <a href="#">Beyond Silicon Valley: Growing Entrepreneurship
                                                        in Transitioning Economies</a>
                                                    </div>
                                                    <div class="course-process">
                                                        <span class="black-txt">Пройден!</span>
                                                        <div class="sertificat"><img src="images/medal.svg" alt=""></div>
                                                        <div class="academic-performance">
                                                            <div class="progress">
                                                                <div class="line"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item indic-success"></div>
                                                                <div class="academic-item indic-waiting"></div>
                                                                <div class="academic-item indic-fail"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                            </div>
                                                            <div class="icon-success"><img src="images/icons/icon-check.svg" alt=""></div>
                                                            <div class="addition-info">
                                                                <p class="mark"><span class="el-black-txt">70 из 100 баллов</span></p>
                                                                <p class="availability-cert"><span class="el-grey-txt">сертификат</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- build:section layout.stars -->
                                                    <!-- /build -->
                                                </div>

                                                <div class="share-info">
                                                    <div class="visibility-block">
                                                        <button class="btn-blue">Поделиться в соцсетях</button>
                                                        <button class="js-show-block btn-arrow"></button>
                                                    </div>
                                                    <div class="hidden-block">
                                                        <a class="btn-white btn-unsubscribe" href="#">Отписаться</a>
                                                        <a class="btn-white" href="#">К странице курса</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="competence-block">
                                                <ul class="skill">
                                                    <li>
                                                        <span class="name">Программирование</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:74%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="name">Maschine Learning</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:33%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="name">Программирование</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:74%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="name">Maschine Learning</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:33%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="name">Maschine Learning</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:23%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="name">Big data</span>
                                                        <span class="el-progress-wrap">
                                                            <span class="progress">
                                                                <span class="bar" style="width:45%;"></span>
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <div class="get-mail">
                                                    <input type="checkbox" name="subscribe" id="sub1" checked>
                                                    <label for="sub1"><span class="el-black-txt">Получать рассылку</span></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                                <!-- End section -->

                                <!-- Begin section -->
                                <section class="css-shadow skill-columns hidden-columns">
                                    <div class="row course-block">
                                        <div class="col-md-3 col-lg-2 col-xs-3 text-center">
                                            <div class="img"><img src="images/courses/img-2.jpg" alt=""></div>
                                            <a href="#" class="partner-logo"><img src="images/courses/logo.jpg" alt=""></a>
                                        </div>
                                        <div class="col-md-9 col-lg-10">
                                            <div class="inform-block">

                                                <div class="course-desc">
                                                    <div class="title-name">
                                                        Курс <a href="#">Программирование волшебных единорогов</a>
                                                    </div>
                                                    <div class="course-process">
                                                        <span class="black-txt">Курс уже идет</span>
                                                        <div class="academic-performance">
                                                            <div class="progress">
                                                                <div class="line"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                                <div class="academic-item"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- build:section layout.stars -->
                                                    <!-- /build -->
                                                </div>

                                                <div class="share-info">
                                                    <div class="visibility-block">
                                                        <button class="btn-white">К материалам курса</button>
                                                        <button class="btn-blue">Поделиться в соцсетях</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                                <!-- End section -->


                            </div>
                            <!-- End group courses -->





                        </div>
                        <!-- End content -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End personal Page -->

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>