<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">

        <!-- Begin Modal forgot password thanks -->
        <div class="wrap-win forgot-thx">
          <button class="remodal-close"></button>
          <div class="forgot-thx-content">
            <div class="modal-title">Инструкция по восстановлению пароля отправлена на e-mail, указанный при регистрации</div>
            <a href="#" class="forgot-thx-link mod-gray">К выбору курсов</a>
          </div>
        </div>
        <!-- End Modal forgot password thanks -->

      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>