<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body home-page">
        <div class="home-banner center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1><b>Онлайн-курсы ведущих вузов</b>
                            бесплатно, удобно, для всех.</h1>
                        <p><a class="el-btn pur-style" href="#">Каталог</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <!-- Begin partner-section -->
            <section class="partner-section container">
                <h2 class="title-section">Партнеры</h2>
                <ul class="partner js-partner-home css-slider">
                    <li><a href="#"><img src="images/partner/img-2.png" alt="img"></a></li>
                    <li><a href="#"><img src="images/partner/img-1.png" alt="img"></a></li>
                    <li><a href="#"><img src="images/partner/img-3.png" alt="img"></a></li>
                    <li><a href="#"><img src="images/partner/img-6.png" alt="img"></a></li>
                    <li><a href="#"><img src="images/partner/img-7.png" alt="img"></a></li>
                    <li><a href="#"><img src="images/partner/img-8.png" alt="img"></a></li>
                </ul>
            </section>
            <!-- End partner-section -->

            <!-- Begin Section 7 -->
            <section class="section-7 container">
                <div class="title-section row">
                    <h2 class="col-sm-7">Проходите курсы и специализации</h2>
                    <div class="col-sm-5">
                        <ul class="list-el-btn">
                            <li><a href="#" class="el-btn grey-style inverse">IT</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Миникурсы</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Начнутся в мае</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Все</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel js-carousel-1">
                            <div class="el-item-course">
                                <div class="stock">Лучший курс 2016 года!</div>
                                <div class="img-wrap" style="background-image: url(images/img-17.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. Роль инвестиций
                                    в разработке инноваций.</a>
                                <div class="bottom-item">
                                    <div class="data">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-18.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Инвестиции в инновациях</a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения,
                                    выделять на них информативные области
                                    в автоматическом режиме.
                                </div>
                                <div class="bottom-item">
                                    <div class="data css-color-yel">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>

                            </div>
                            <div class="el-item-course">
                                <div class="stock">Лучший курс 2016 года!</div>
                                <div class="img-wrap" style="background-image: url(images/img-19.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося продукта. </a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения,
                                    выделять на них информативные области.
                                </div>
                                <div class="bottom-item">
                                    <div class="data">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-14.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. </a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения, выделять на них информативные области.
                                </div>
                                <div class="bottom-item">
                                    <div class="data">Начало 28 ноября</div>
                                    <div class="group">Миникурсы</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center btn-wraps">
                        <a href="#" class="el-btn blue-style">Смотреть все 125</a>
                    </div>
                </div>
            </section>
            <!-- End Section 7 -->

            <!-- Begin section-list-profession -->
            <section class="section-list-profession">
                <div class="container">
                    <div class="title-section row">
                        <h2 class="col-sm-12">Получите востребованную профессию</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="list-profession-item">
                                <p><span>.01</span>Выберите профессию</p>
                            </div>
                            <div class="list-profession-item">
                                <p><span>.02</span>Выберите профессию</p>
                            </div>
                            <div class="list-profession-item">
                                <p><span>.03</span>Выберите профессию</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="list-profession-item">
                                <p><span>.04</span>Выберите профессию</p>
                            </div>
                            <div class="list-profession-item">
                                <p><span>.05</span>Выберите профессию</p>
                            </div>
                            <div class="list-profession-item">
                                <p><span>.06</span>Выберите профессию</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- End section-list-profession -->

            <!-- Begin section-tabs -->
            <section class="section-tabs">
                <div class="container">
                    <div class="title-section row">
                        <h2 class="col-sm-12">Профессии</h2>
                    </div>
                </div>
            </section>
            <!-- End section-tabs -->

            <!-- Begin Section 8 -->
            <section class="section-8 container">
                <div class="row">
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-1.svg" alt="icon">
                        <p>Выбирай из&nbsp;150 курсов
                            от&nbsp;лучших компаний
                            и&nbsp;университетов</p>
                    </div>
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-2.svg" alt="icon">
                        <p>Стань лучшим
                            профессионалом&nbsp;с&nbsp;персональной тректорией&nbsp;развития</p>
                    </div>
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-3.svg" alt="icon">
                        <p>Получи сертификат по&nbsp;любой из&nbsp;20&nbsp;профессий.
                            Работодатели&nbsp;уже ждут!</p>
                    </div>
                </div>
            </section>
            <!-- End Section 8 -->

            <!-- Begin Section 7 -->
            <section class="section-7 container">
                <div class="title-section row">
                    <h2 class="col-sm-7">Программы дополнительного профессионального образования</h2>
                    <div class="col-sm-5">
                        <ul class="list-el-btn">
                            <li><a href="#" class="el-btn grey-style inverse">IT</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Миникурсы</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Начнутся в мае</a></li>
                            <li><a href="#" class="el-btn grey-style inverse">Все</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel js-carousel-1">
                            <div class="el-item-course">
                                <div class="stock">Лучший курс 2016 года!</div>
                                <div class="img-wrap" style="background-image: url(images/img-17.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. Роль инвестиций
                                    в разработке инноваций.</a>
                                <div class="bottom-item">
                                    <div class="data">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-18.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Инвестиции в инновациях</a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения,
                                    выделять на них информативные области
                                    в автоматическом режиме.
                                </div>
                                <div class="bottom-item">
                                    <div class="data css-color-yel">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>

                            </div>
                            <div class="el-item-course">
                                <div class="stock">Лучший курс 2016 года!</div>
                                <div class="img-wrap" style="background-image: url(images/img-19.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося продукта. </a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения,
                                    выделять на них информативные области.
                                </div>
                                <div class="bottom-item">
                                    <div class="data">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-14.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. </a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения, выделять на них информативные области.
                                </div>
                                <div class="bottom-item">
                                    <div class="data">Начало 28 ноября</div>
                                    <div class="group">Миникурсы</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center btn-wraps">
                        <a href="#" class="el-btn blue-style">Смотреть все 125</a>
                    </div>
                </div>
            </section>
            <!-- End Section 7 -->

            <!-- Begin Section 4 -->
            <section class="section-4 container">
                <div class="row">
                    <div class="wrap-banner">
                        <div class="col-sm-12 col-md-9 col-md-offset-3">
                            <p class="style-text-2">
                                <b>Не знаете, какую выбрать профессию?</b>
                                В личном кабинете можно подобрать программы, лучше всего подходящие вашим
                                предпочтениям и компетенциям!
                            </p>
                            <a href="#" class="el-btn inverse">Создать личный кабинет</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section 4 -->

        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>