<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body home-page">
        <div class="home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Курсы и специализации онлайн-обучения
                            от лучших ВУЗов и компаний России</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="section section-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="catalog-list">
                                <ul>
                                    <li class="title"><a href="#">Каталог</a></li>
                                    <li><a href="#">Бизнес</a></li>
                                    <li><a href="#">ИТ</a></li>
                                    <li><a href="#">Физика</a></li>
                                    <li><a href="#">Математика</a></li>
                                    <li><a href="#">Экономика</a></li>
                                    <li><a href="#">Астрономия</a></li>
                                    <li><a href="#">ДПО</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="style-text-1">Все курсы, размещенные на Платформе, доступны бесплатно и без
                                формальных требований к
                                базовому уровню образования. Для желающих зачесть пройденный онлайн-курс при освоении
                                образовательной программы бакалавриата или специалитета в вузе предусмотрена уникальная
                                для России возможность получения подтвержденных сертификатов.</p>
                            <ul class="tab-catalog">
                                <li><a href="#">Управление проектами</a></li>
                                <li><a href="#">E-Commerce</a></li>
                                <li><a href="#">Риск-менеджмент</a></li>
                                <li><a href="#">Все направления</a></li>
                            </ul>

                            <div class="wrap-drop">
                                <div class="el-select css-filter js-select">
                                    <i class="icon icon-filter"></i>
                                    <i class="icon-up-dir"></i>
                                    <i class="icon-down-dir"></i>
                                    <span class="placeholder"> Фильтры  </span>
                                    <div class="wraper-list">
                                        <ul>
                                            <li data-value="Фильтер 1">Фильтр 1</li>
                                            <li data-value="Фильтер 2">Фильтр 2</li>
                                            <li data-value="Фильтер 3">Фильтр 3</li>
                                            <li data-value="Фильтер 4">Фильтр 4</li>
                                        </ul>
                                    </div>
                                    <input class="hide" type="text">
                                </div>
                                <div class="el-select css-sort js-select">
                                    <i class="icon icon-combined-shape"></i>
                                    <i class="icon-up-dir"></i>
                                    <i class="icon-down-dir"></i>
                                    <span class="placeholder"> По дате начала  </span>
                                    <div class="wraper-list">
                                        <ul>
                                            <li data-value="По дате окончания">По дате окончания</li>
                                            <li data-value="По дате начала">По дате начала</li>
                                        </ul>
                                    </div>
                                    <input class="hide" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title-section">
                            <h2>Самые популярные программы в разделе</h2>
                            <a href="#" class="el-btn blue-style inverse">Смотреть все 15</a>
                        </div>
                        <div class="col-sm-12">
                            <div class="carousel js-carousel-1">
                                <div class="item">
                                    <div class="stock">Лучший курс 2016 года!</div>
                                    <div class="img-wrap" style="background-image: url(images/img-1.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data css-color-yel">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="img-wrap" style="background-image: url(images/img-2.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                            <li><a href="#">УрФУ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Инвестиции в инновациях</a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области в
                                        автоматическом режиме.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Запись до 30 июля</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock css-color-yel">+25 к Data Science!</div>
                                    <div class="img-wrap" style="background-image: url(images/img-3.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. </a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Начало 28 ноября</div>
                                        <div class="group">Миникурсы</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock css-color-pur">Сертифицирован</div>
                                    <div class="img-wrap" style="background-image: url(images/img-4.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title-section">
                            <h2>Специализация по бизнес-аналитике от <a class="yandex" href="#">Яндекса</a> и <a
                                class="mailru" href="#">Mail.ru</a></h2>
                            <a href="#" class="el-btn blue-style inverse">Смотреть все 15</a>
                        </div>
                        <div class="col-sm-12">
                            <div class="carousel js-carousel-1">
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-4.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data css-color-yel">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock css-color-pur">Сертифицирован</div>
                                    <div class="img-wrap" style="background-image: url(images/img-5.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                            <li><a href="#">УрФУ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Инвестиции в инновациях</a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области в
                                        автоматическом режиме.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Запись до 30 июля</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-6.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. </a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Начало 28 ноября</div>
                                        <div class="group">Миникурсы</div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="img-wrap" style="background-image: url(images/img-4.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-4">
                <div class="container">
                    <div class="row">
                        <div class="wrap-banner">
                            <div class="col-sm-12 col-md-9 col-md-offset-3">
                                <p class="style-text-2">
                                    <b>Не знаете, какую выбрать профессию?</b>
                                    В личном кабинете можно подобрать программы, лучше всего подходящие вашим
                                    предпочтениям и компетенциям!
                                </p>
                                <a href="#" class="el-btn inverse">Создать личный кабинет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title-section">
                            <h2>Скоро начнутся</h2>
                            <a href="#" class="el-btn blue-style inverse">Смотреть все 15</a>
                        </div>
                        <div class="col-sm-12">
                            <div class="carousel js-carousel-1">
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-7.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data css-color-yel">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="img-wrap" style="background-image: url(images/img-8.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                            <li><a href="#">УрФУ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Инвестиции в инновациях</a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области в
                                        автоматическом режиме.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Запись до 30 июля</div>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="hover-block" style="background-image: url(images/hover-img-1.png);">
                                        <div class="wraper-text">
                                            <div class="title">Рекламный блок</div>
                                            <div class="announce">
                                                С прекрасным и вовлекающим рекламным текстом. Невозможно не нажать на
                                                кнопку внизу!
                                            </div>
                                            <a href="#" class="el-btn">Забрать предложение</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock">Лучший курс 2016 года!</div>
                                    <div class="img-wrap" style="background-image: url(images/img-4.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title-section">
                            <h2>Лучшие курсы последнего года по мнению наших студентов</h2>
                            <a href="#" class="el-btn blue-style inverse">Смотреть все 15</a>
                        </div>
                        <div class="col-sm-12">
                            <div class="carousel js-carousel-1">
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-9.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data css-color-yel">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="img-wrap" style="background-image: url(images/img-10.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                            <li><a href="#">УрФУ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Инвестиции в инновациях</a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области в
                                        автоматическом режиме.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Запись до 30 июля</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-11.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. </a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Начало 28 ноября</div>
                                        <div class="group">Миникурсы</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock">Лучший курс 2016 года!</div>
                                    <div class="img-wrap" style="background-image: url(images/img-12.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center btn-wraps">
                            <a href="#" class="el-btn blue-style">Показать еще 18</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-7">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title-section">
                            <h2>Вы смотрели</h2>
                            <ul class="list-el-btn">
                                <li><a href="#" class="el-btn grey-style inverse">IT</a></li>
                                <li><a href="#" class="el-btn grey-style inverse">Миникурсы</a></li>
                                <li><a href="#" class="el-btn grey-style inverse">Начнутся в мае</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <div class="carousel js-carousel-1">
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-12.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data css-color-yel">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>

                                </div>
                                <div class="item">

                                    <div class="img-wrap" style="background-image: url(images/img-13.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                            <li><a href="#">УрФУ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Инвестиции в инновациях</a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области в
                                        автоматическом режиме.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Запись до 30 июля</div>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="img-wrap" style="background-image: url(images/img-14.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. </a>
                                    <div class="announce">
                                        Вы научитесь сегментировать изображения, выделять на них информативные области.
                                    </div>
                                    <div class="bottom-item">
                                        <div class="data">Начало 28 ноября</div>
                                        <div class="group">Миникурсы</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="stock">Лучший курс 2016 года!</div>
                                    <div class="img-wrap" style="background-image: url(images/img-12.jpg);"></div>
                                    <div class="tags">
                                        <ul>
                                            <li><a href="#">МФТИ</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                        продукта. Роль инвестиций
                                        в разработке инноваций.</a>
                                    <div class="bottom-item">
                                        <div class="data">Начало 5 августа</div>
                                        <div class="group">5 курсов</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center btn-wraps">
                            <a href="#" class="el-btn blue-style">Все курсы и профессии в IT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-8">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 item-serves">
                            <img src="images/icon-1.svg" alt="icon">
                            <p>Выбирай из&nbsp;150 курсов
                                от&nbsp;лучших компаний
                                и&nbsp;университетов</p>
                        </div>
                        <div class="col-sm-4 item-serves">
                            <img src="images/icon-2.svg" alt="icon">
                            <p>Стань лучшим
                                профессионалом&nbsp;с&nbsp;персональной тректорией&nbsp;развития</p>
                        </div>
                        <div class="col-sm-4 item-serves">
                            <img src="images/icon-3.svg" alt="icon">
                            <p>Получи сертификат по&nbsp;любой из&nbsp;20&nbsp;профессий.
                                Работодатели&nbsp;уже ждут!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>