<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body mod-modal">
        <div class="container">
            <div class="wrapper-modal">

                <div class="wrap-win pick-schedule smoll" >
                    <form action="" method="">
                        <div class="modal-title">
                            Выберите вариант оплаты
                        </div>

                        <div class="pick-schedule-content">
                            <!-- frames -->
                            <label class="toggle-variant-wrap" for="radio_without_payment">
                                <input type="radio" id="radio_without_payment" name="learning_mode" value="without_payment" checked>
                                <div class="toggle-variant-item pick-schedule-content-frame mod-marg">
                                    <div class="pick-schedule-content-frame-title">
                                        Предоплата - 18 500 рублей
                                    </div>
                                    <p>
                                        Смотрите лекции, общайтесь на форуме и выполняйте
                                        задания без ограничений.
                                    </p>
                                </div>
                            </label>

                            <label class="toggle-variant-wrap" for="radio_with_payment">
                                <input class="js-second-name" type="radio" id="radio_with_payment" name="learning_mode" value="with_payment">
                                <div class="toggle-variant-item pick-schedule-content-frame">
                                    <div class="pick-schedule-content-frame-title">
                                        Оплата первого курса в наборе - 6 500 рублей
                                    </div>
                                    <p>
                                        Пройдите авторизацию и получайте обратную связь,
                                        проверку заданий и подтверждение ваших навыков!
                                    </p>
                                </div>
                            </label>
                            <!-- end frames -->
                        </div>

                        <button class="el-btn pur-style gross" type="submit">Оплатить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

    <!-- build:section layout.modal -->
    <!-- /build -->

</div>