<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body mod-modal">
        <div class="container">
            <div class="wrapper-modal">


                <div class="wrap-win pick-schedule smoll" >

                    <div class="modal-title">
                        Спасибо за выбор курса
                        дополнительного образования
                        <b>"Разведение уточек"!</b>
                    </div>

                    <div class="pick-schedule-content">
                        <!-- frames -->
                        <div class="pick-schedule-content-frame">
                            <div class="pick-schedule-content-frame-title">
                                Обучение и сертификация за 8 700 рублей
                            </div>
                            <p class="marg">Обучение включает в себя две сессии, когда вам
                                нужно будет присутствовать на занятиях лично,
                                и 2 недели вебинаров</p>
                            <p>
                                По любым вопросам обращайтесь
                                <span class="strong">8 800 360 75 85</span>
                            </p>
                        </div>
                        <!-- end frames -->


                    </div>

                    <a href="#" class="el-btn pur-style gross">
                        Оплатить
                    </a>

                </div>


            </div>
        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

    <!-- build:section layout.modal -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>