<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body mod-modal">
        <div class="container">
            <div class="wrapper-modal">

                <div class="wrap-win pick-schedule smoll" >

                    <div class="modal-title">
                        Выберите режим обучения
                    </div>

                    <div class="pick-schedule-content">
                        <!-- frames -->
                        <div class="pick-schedule-content-frame mod-marg">
                            <div class="pick-schedule-content-frame-title">
                                Без оплаты и сертификации - 0 рублей
                            </div>
                            <p>
                                Смотрите лекции, общайтесь на форуме и выполняйте
                                задания без ограничений.
                            </p>
                        </div>

                        <div class="pick-schedule-content-frame mod-highlight ">
                            <div class="pick-schedule-content-frame-title">
                                Получить сертификат - 6 500 рублей
                            </div>
                            <p>
                                Пройдите авторизацию и получайте обратную связь,
                                проверку заданий и подтверждение ваших навыков!
                            </p>
                        </div>
                        <!-- end frames -->

                    </div>

                    <a href="#" class="el-btn pur-style gross mod-w">
                        Перейти к материалам в Личный кабинет
                    </a>

                </div>


            </div>
        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

    <!-- build:section layout.modal -->
    <!-- /build -->

</div>