<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body mod-modal">
        <div class="container">
            <div class="wrapper-modal">


                <div class="wrap-win pick-schedule" >

                    <div class="modal-title">
                        Выберите режим обучения и дополнительные возможности
                    </div>

                    <div class="pick-schedule-content">
                        <!-- frames -->
                        <div class="pick-schedule-content-frame">
                            <div class="pick-schedule-content-frame-title">
                                Бесплатный просмотр
                            </div>
                            <p>
                                Смотрите лекции, общайтесь на форуме и выполняйте задания без ограничений.
                            </p>
                        </div>



                        <div class="clear-fix pick-schedule-group">

                            <div class="pick-schedule-content-frame mod-highlight">
                                <div class="pick-schedule-content-frame-title">
                                    Получить сертификат о прохождени - 8 300 рублей
                                </div>
                                <p>
                                    Пройдите авторизацию и получайте обратную связь, проверку<br>
                                    заданий и подтверждение ваших навыков!
                                </p>
                                <div class="pick-schedule-content-frame-selected js-select-course active">
              <span>
                Выбрано
              </span>
                                    <span class="ico ico-g-gal"></span>
                                </div>
                            </div>

                            <div class="pick-schedule-content-frame mod-highlight mod-half" >
                                <div class="pick-schedule-content-frame-title">
                                    Участие в вебинарах
                                </div>
                                <p>
                                    Ответы на ваши вопросы и личное<br>
                                    общение с преподавателем!
                                </p>
                                <div class="pick-schedule-content-frame-price">
                                    1 200 рублей
                                </div>
                                <div class="pick-schedule-content-frame-selected js-select-course active">
              <span>
                Выбрано
              </span>
                                    <span class="ico ico-g-gal"></span>
                                </div>
                            </div>

                            <div class="pick-schedule-content-frame mod-highlight mod-half">
                                <div class="pick-schedule-content-frame-title">
                                    Личные встречи - 1 200 рублей
                                </div>
                                <p>
                                    Ответы на ваши вопросы и личное общение с преподавателем!

                                </p>
                                <div class="pick-schedule-content-frame-selected js-select-course active">
              <span>
                Выбрано
              </span>
                                    <span class="ico ico-g-gal"></span>
                                </div>
                            </div>

                            <div class="pick-schedule-content-frame mod-half">
                                <div class="pick-schedule-content-frame-title">
                                    Личный тьютор - 1 200 рублей
                                </div>
                                <p>
                                    Поможет понять все трудные моменты, даст пояснения и обратную связь
                                </p>
                                <div class="pick-schedule-content-frame-selected js-select-course">
              <span>
                Выбрано
              </span>
                                    <span class="ico ico-g-gal"></span>
                                </div>
                            </div>

                        </div>



                        <!-- end frames -->


                    </div>

                    <a href="#" class="el-btn pur-style gross">
                        Записаться
                    </a>

                </div>


            </div>
        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

    <!-- build:section layout.modal -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>