<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body mod-modal">
        <div class="container">
            <div class="wrapper-modal">


                <div class="wrap-win pick-schedule">
                    <form action="#">
                        <div class="modal-title">
                            Выберите режим обучения и дополнительные возможности
                        </div>

                        <div class="pick-schedule-content">
                            <!-- frames -->

                            <label for="check_mode_free" class="toggle-variant-wrap">
                                <input type="radio" class="js-other-btn-name" id="check_mode_free" name="check_mode"
                                       value="free">
                                <div class="pick-schedule-content-frame toggle-variant-item">
                                    <div class="pick-schedule-content-frame-title">
                                        Бесплатный просмотр
                                    </div>
                                    <p>
                                        Смотрите лекции, общайтесь на форуме и выполняйте задания без ограничений.
                                    </p>
                                </div>
                                <span class="select-check">Выбрано<i class="ico ico-g-gal"></i></span>
                            </label>


                            <div class="clear-fix pick-schedule-group">

                                <label for="check_mode_pay" class="toggle-variant-wrap">
                                    <input type="radio" id="check_mode_pay" name="check_mode" value="pay" checked>
                                    <div class="pick-schedule-content-frame toggle-variant-item">
                                        <div class="pick-schedule-content-frame-title">
                                            Получить сертификат о прохождени - 8 300 рублей
                                        </div>
                                        <p>
                                            Пройдите авторизацию и получайте обратную связь, проверку<br>
                                            заданий и подтверждение ваших навыков!
                                        </p>
                                    </div>
                                    <span class="select-check">Выбрано<i class="ico ico-g-gal"></i></span>
                                </label>

                                <label for="check_webinar" class="toggle-variant-wrap mod-half">
                                    <input type="checkbox" id="check_webinar" name="check_webinar"
                                           value="check_webinar">
                                    <div class="pick-schedule-content-frame mod-large toggle-variant-item">
                                        <div class="pick-schedule-content-frame-title">
                                            Участие в вебинарах
                                        </div>
                                        <p>
                                            Ответы на ваши вопросы и личное<br>
                                            общение с преподавателем!
                                        </p>
                                        <div class="pick-schedule-content-frame-price">
                                            1 200 рублей
                                        </div>
                                    </div>
                                    <span class="select-check">Выбрано<i class="ico ico-g-gal"></i></span>
                                </label>

                                <label for="check_meeting" class="toggle-variant-wrap mod-half">

                                    <input type="checkbox" id="check_meeting" name="check_meeting" value="check_meeting">
                                    <div class="pick-schedule-content-frame toggle-variant-item mod-small">
                                        <div class="pick-schedule-content-frame-title">
                                            Личные встречи - 1 200 рублей
                                        </div>
                                        <p>
                                            Ответы на ваши вопросы и личное общение с преподавателем!

                                        </p>
                                    </div>
                                    <span class="select-check">Выбрано<i class="ico ico-g-gal"></i></span>
                                </label>

                                <label for="check_tutor" class="toggle-variant-wrap mod-half">
                                    <input type="checkbox" id="check_tutor" name="check_tutor" value="check_tutor">
                                    <div class="pick-schedule-content-frame toggle-variant-item mod-small">
                                        <div class="pick-schedule-content-frame-title">
                                            Личный тьютор - 1 200 рублей
                                        </div>
                                        <p>
                                            Поможет понять все трудные моменты, даст пояснения и обратную связь
                                        </p>
                                    </div>
                                    <span class="select-check">Выбрано<i class="ico ico-g-gal"></i></span>
                                </label>

                            </div>


                            <!-- end frames -->


                        </div>

                        <button class="el-btn pur-style gross toggle-name" type="submit">
                            <span>Оплатить</span>
                            <span>Записаться</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- build:section layout.footer -->
<!-- /build -->

<!-- build:section layout.modal -->
<!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>