<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">
        <div class="modal-paymentDeclined modal-message">
          <div class="title">Оплата отклонена</div>
          <div class="main-text">
            К сожалению, в процессе оплаты что-то пошло не так.
            Попробуйте повторить платеж.
          </div>
          <div class="link-wrap">
            <a class="el-btn" href="/">Попробовать еще раз</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>