<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <div class="container">

      <!-- Begin Modal window call button -->
      <ul class="modal-button">
        <li>
          <a href="#sign-up" class="el-btn blue-style">Sign Up</a>
          <a href="#sign-up" class="el-btn blue-style">Sing In</a>
        </li>
        <li><a href="#sign-thx" class="el-btn blue-style">Sign Up - Thank you</a></li>
        <li><a href="#forgot-pass" class="el-btn blue-style">Forgot password</a></li>
        <li><a href="#forgot-thx" class="el-btn blue-style">Forgot success</a></li>
        <li><a href="#promo-code" class="el-btn blue-style">Promo code</a></li>
      </ul>
      <!-- End Modal window call button -->

    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>