<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

    <!-- build:section layout.header -->
    <!-- /build -->

    <div id="page-body" class="page-body home-page search-page">
        <div class="home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Курсы и специализации онлайн-обучения
                            от лучших ВУЗов и компаний России</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content">

            <!-- Begin Section 1 -->
            <section class="section-1 container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="catalog-list">
                            <ul>
                                <li class="title"><a href="#">Каталог</a></li>
                                <li><a href="#">Бизнес</a></li>
                                <li><a href="#">ИТ</a></li>
                                <li><a href="#">Физика</a></li>
                                <li><a href="#">Математика</a></li>
                                <li><a href="#">Экономика</a></li>
                                <li><a href="#">Астрономия</a></li>
                                <li><a href="#">ДПО</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="title-section row">
                            <h2 class="col-sm-7">Поиск</h2>
                        </div>
                        <form action="#">
                            <input type="text" placeholder="Ваш email">
                            <button class="el-btn blue-style" type="submit">Подписаться</button>
                        </form>
                        <p class="style-text-1">Ничего не найдено. Попроуйте переформулировать запрос.</p>


                    </div>
                </div>
            </section>
            <!-- End Section 1 -->

            <!-- Begin section-result -->
            <section class="section-result container">
                <div class="title-section row">
                    <h2 class="col-sm-8">Самые популярные курсы</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="el-item-course">
                            <div class="img-wrap" style="background-image: url(images/img-7.jpg);"></div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">МФТИ</a></li>
                                </ul>
                            </div>
                            <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                продукта. Роль инвестиций
                                в разработке инноваций.</a>
                            <div class="bottom-item">
                                <div class="data css-color-yel">Начало 5 августа</div>
                                <div class="group">5 курсов</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="el-item-course">
                            <div class="img-wrap" style="background-image: url(images/img-8.jpg);"></div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">МФТИ</a></li>
                                    <li><a href="#">УрФУ</a></li>
                                </ul>
                            </div>
                            <a href="#" class="name">Инвестиции в инновациях</a>
                            <div class="announce">
                                Вы научитесь сегментировать изображения, выделять на них информативные области в
                                автоматическом режиме.
                            </div>
                            <div class="bottom-item">
                                <div class="data">Запись до 30 июля</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="el-item-course">
                            <div class="stock">Лучший курс 2016 года!</div>
                            <div class="img-wrap" style="background-image: url(images/img-5.jpg);"></div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">МФТИ</a></li>
                                </ul>
                            </div>
                            <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                продукта. Роль инвестиций
                                в разработке инноваций.</a>
                            <div class="bottom-item">
                                <div class="data">Начало 5 августа</div>
                                <div class="group">5 курсов</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section-result -->

            <!-- Begin section-result -->
            <section class="section-result css-white">
                <div class="container">
                    <div class="title-section row">
                        <h2 class="col-sm-4">Вы смотрели</h2>
                        <div class="col-sm-8">
                            <ul class="list-el-btn">
                                <li><a href="#" class="el-btn grey-style inverse">IT</a></li>
                                <li><a href="#" class="el-btn grey-style inverse">Миникурсы</a></li>
                                <li><a href="#" class="el-btn grey-style inverse">Начнутся в мае</a></li>
                                <li><a href="#" class="el-btn grey-style inverse">Все</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-7.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. Роль инвестиций
                                    в разработке инноваций.</a>
                                <div class="bottom-item">
                                    <div class="data css-color-yel">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="el-item-course">
                                <div class="img-wrap" style="background-image: url(images/img-8.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                        <li><a href="#">УрФУ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Инвестиции в инновациях</a>
                                <div class="announce">
                                    Вы научитесь сегментировать изображения, выделять на них информативные области в
                                    автоматическом режиме.
                                </div>
                                <div class="bottom-item">
                                    <div class="data">Запись до 30 июля</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="el-item-course">
                                <div class="stock">Лучший курс 2016 года!</div>
                                <div class="img-wrap" style="background-image: url(images/img-5.jpg);"></div>
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">МФТИ</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                    продукта. Роль инвестиций
                                    в разработке инноваций.</a>
                                <div class="bottom-item">
                                    <div class="data">Начало 5 августа</div>
                                    <div class="group">5 курсов</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center btn-wraps">
                            <a href="#" class="el-btn blue-style">Смотреть все 125</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section-result -->

            <!-- Begin Section 8 -->
            <section class="section-8 container">
                <div class="row">
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-1.svg" alt="icon">
                        <p>Выбирай из&nbsp;150 курсов
                            от&nbsp;лучших компаний
                            и&nbsp;университетов</p>
                    </div>
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-2.svg" alt="icon">
                        <p>Стань лучшим
                            профессионалом&nbsp;с&nbsp;персональной тректорией&nbsp;развития</p>
                    </div>
                    <div class="col-sm-4 item-serves">
                        <img src="images/icon-3.svg" alt="icon">
                        <p>Получи сертификат по&nbsp;любой из&nbsp;20&nbsp;профессий.
                            Работодатели&nbsp;уже ждут!</p>
                    </div>
                </div>
            </section>
            <!-- End Section 8 -->

        </div>
    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>