<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper ">

    <!-- build:section layout.header -->
    <!-- /build -->

    <!-- Begin Specialization Page -->
    <div id="page-body" class="page-body specialization-page ">
        <div class="section-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="img-play"><a href="#"><img src="images/play-icon.png" alt="play"></a></div>
                        <p class="text-style-1">Курс:</p>
                        <p class="text-style-2">Введение в функциональное программирование на F#</p>
                        <p class="text-style-3">Запусти свою криптоанархию с F# и единорогами</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content right-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 content-wrap">
                        <div class="sidebar">

                            <div class="titles-profession">
                                Профессия
                            </div>
                            <p class="style-text-5">Junior Data Scientist</p>

                            <div class="wrap-btn">
                                <a href="#" class="el-btn pur-style center">Начать обучение</a>
                            </div>
                            <ul class="list-nav">
                                <li><a href="#">О профессии</a></li>
                                <li><a href="#">Учебный план</a></li>
                                <li><a href="#">Отзывы</a></li>
                            </ul>
                            <p class="style-gere">Поделиться</p>
                            <ul class="social">
                                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="tw" href="#"><i class="icon-tw"></i></a></li>
                                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                                <li><a class="youtube" href="#"><i class="icon-youtube-play"></i></a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <div class="section-content">
                                <p class="style-text-3"><b>Machine learning</b> represents a key evolution in the fields of
                                    computer science, data analysis, sofware engineering, and artificial intelligence.
                                    This program will teach you how to become a machine learning engineer, and apply
                                    predictive models to massive data sets in fields like finance, healthcare,
                                    education, and more.</p>
                                <p class="style-text-3">Machine learning represents a key evolution in the fields of
                                    computer science, data analysis, sofware engineering, and artificial
                                    intelligence...</p>
                                <p class="style-text-3"><a href="#">Читать дальше</a></p>
                            </div>

                            <div class="section-content css-shadow">
                                <h2 class="title-section">Более 100 вакансий в компаниях</h2>

                            </div>

                            <div class="section-content css-shadow">
                                <h2 class="title-section">Чтобы получить профессию, вам нужно:</h2>

                            </div>



                            <div class="text-center connect">
                                <a href="#" class="el-btn blue-style">Начать обучение</a>
                            </div>

                            <div class="section-content">
                                <h2 class="title-section">Что я получу и как это работает?</h2>
                                <ul class="list-style-1">
                                    <li>Готовое портфолио с обучающими проектами</li>
                                    <li>Форум, где на все мои вопросы отвечают преподаватели курсов и ассистенты</li>
                                    <li>Подтвержденный одним из Топ-10 ВУЗов сертификат</li>
                                    <li>Готовое портфолио с обучающими проектами</li>
                                    <li>Форум, где на все мои вопросы отвечают преподаватели курсов и ассистенты</li>
                                    <li>Подтвержденный одним из Топ-10 ВУЗов сертификат</li>
                                </ul>
                            </div>

                            <div class="section-content css-shadow">
                                <h2 class="title-section">Мои компетенции</h2>

                            </div>

                            <div class="section-content css-shadow">
                                <h2 class="title-section">Учебный план</h2>

                            </div>

                            <div class="text-center connect">
                                <a href="#" class="el-btn blue-style">Начать обучение</a>
                            </div>

                            <div class="section-content css-shadow branches-section">
                                <h2 class="title-section">Отрасли в которых востребованы Data Scientist’s</h2>
                                <ul>
                                    <li>
                                        <img src="images/icons/icon-5.svg" alt="">
                                        <p>Образование и наука</p>
                                    </li>
                                    <li>
                                        <img src="images/icons/icon-6.svg" alt="">
                                        <p>IT и телеком</p>
                                    </li>
                                </ul>
                            </div>


                            <div class="section-content course-section">
                                <h2 class="title-section">Похожие курсы и специализации</h2>
                                <a class="el-btn blue-style inverse" href="index.html">Смотреть в каталоге</a>
                                <div class="course">
                                    <div class="el-item-course">
                                        <div class="img-wrap" style="background-image: url(images/img-15.png);"></div>
                                        <div class="tags">
                                            <ul>
                                                <li><a href="#">МФТИ</a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                            продукта. </a>
                                        <div class="announce">
                                            Вы научитесь сегментировать изображения, выделять на них информативные области.
                                        </div>
                                        <div class="bottom-item">
                                            <div class="data">Начало 28 ноября</div>
                                            <div class="group">Миникурсы</div>
                                        </div>
                                    </div>
                                    <div class="el-item-course">
                                        <div class="img-wrap" style="background-image: url(images/img-16.jpg);"></div>
                                        <div class="tags">
                                            <ul>
                                                <li><a href="#">МФТИ</a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="name">Управление проектами в условиях динамично развивающегося
                                            продукта. Роль инвестиций
                                            в разработке инноваций.</a>
                                        <div class="bottom-item">
                                            <div class="data">Начало 5 августа</div>
                                            <div class="group">5 курсов</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- End Specialization Page -->

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>