<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">

        <!-- Begin Modal promo-code -->
        <div class="wrap-win promo-code">
          <div class="promo-code-content">
            <div class="modal-title">У Вас есть промо-код?</div>
            <div class="promo-step-1">
              <a href="#" class="el-btn pur-style js-promo-step">Есть</a>
              <button data-remodal-action="close" class="el-btn grey-style">Пока нет</button>
            </div>
            <form action="/" method="post" class="promo-step-2">
              <div class="form-input">
                <input type="text" placeholder="Промо-код" />
              </div>
              <button type="submit" class="el-btn pur-style">Ввести</button>
              <button class="el-btn grey-style">Пока нет</button>
            </form>
          </div>
        </div>
        <!-- End Modal promo-code -->

      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>