<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">

        <!-- Begin Modal sign Up -->
        <div class="sign-content wrap-win">
          <button data-remodal-action="close"></button>
          <div class="up-header">
            <a href="#" class="sign-in-btn show">Войти</a>
            <a href="#sign-up" class="sign-up-btn">Зарегистрироваться</a>
            <div class="in-for">Войти через</div>
            <ul class="sign-social">
              <li><a href="#" class="social-fb"><i class="icon-facebook"></i></a></li>
              <li><a href="#" class="social-gpus"><i class="icon-gplus"></i></a></li>
              <li><a href="#" class="social-vk"><i class="icon-vkontakte"></i></a></li>
              <li><a href="#" class="social-tw"><i class="icon-tw"></i></a></li>
              <li><a href="#" class="text-social">НПОО</a></li>
            </ul>
            <div class="in-for">или</div>

            <!-- Begin Sign In content -->
            <div class="sign-in-content">
              <form action="/" method="post">
                <label for="in-email">Email</label>
                <div class="form-input">
                  <input type="email" id="in-email" placeholder="Ваш email"/>
                </div>
                <label for="in-pass">Пароль</label>
                <div class="form-input">
                  <input type="password" id="in-pass" />
                </div>
                <div class="form-buttons">
                  <button type="submit" class="el-btn pur-style">Войти</button>
                  <a href="#" class="forgot-pass-link mod-gray">Забыли пароль?</a>
                </div>
              </form>
            </div>
            <!-- End Sign In content -->

          </div>
        </div>
      </div>
      <!-- End Modal sign Up -->

    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>