<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">

        <!-- Begin Modal sign In -->
        <div class="wrap-win sign-content">
          <div class="up-header">
            <a href="#" class="sign-up-btn show">Зарегистрироваться</a>
            <a href="#sign-in" class="sign-in-btn">Войти</a>
            <div class="in-for">Войти через</div>
            <ul class="sign-social">
              <li><a href="#" class="social-fb"><i class="icon-facebook"></i></a></li>
              <li><a href="#" class="social-gpus"><i class="icon-gplus"></i></a></li>
              <li><a href="#" class="social-vk"><i class="icon-vkontakte"></i></a></li>
              <li><a href="#" class="social-tw"><i class="icon-tw"></i></a></li>
              <li><a href="#" class="text-social">НПОО</a></li>
            </ul>
            <div class="in-for">или</div>

            <!-- Begin Sign Up content -->
            <div class="sign-up-content">
              <form action="/" method="post" name="sign-up" class="sign-up-form">
                <label for="up-email">Email<span>*</span></label>
                <div class="form-input">
                  <input name="email" type="email" id="up-email" placeholder="Ваш email"/>
                </div>
                <label for="name">Имя</label>
                <div class="form-input">
                  <input name="name" type="text" id="name" placeholder="Ваше имя"/>
                </div>
                <label for="up-pass">Пароль<span>*</span></label>
                <div class="form-input mod-pass">
                  <a href="#" class="js-pass icon-pass icon-glas-icon"></a>
                  <input name="password" type="password" id="up-pass" />
                </div>
                <div class="form-buttons">
                  <button type="submit" class="el-btn pur-style">Зарегистрироваться</button>
                </div>
              </form>
            </div>
            <!-- End Sign Up content -->

          </div>
        </div>
        <!-- End Modal sign Up -->

      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>