<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">

        <!-- Begin Modal sing in / up thanks -->
        <div class="wrap-win sign-thx">
          <div class="sign-thx-content">
            <div class="sign-thx-title modal-title">Спасибо за регистрацию!</div>
            <p class="sign-thx-desc">Вам на почту отправлено письмо. Для активации аккаунта, пожалуйста,
              перейдите по ссылке в письме.</p>
            <p class="sign-thx-desc mod-small">Не получали письма? Проверьте папку "Спам". Если прошло 5 минут, а письма еще нет -
              <a href="#" class="mod-gray">Выслать повторно</a></p>
          </div>
        </div>
        <!-- End Modal sing in / up thanks -->

      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>