<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper ">

    <!-- build:section layout.header -->
    <!-- /build -->

    <!-- Begin Specialization Page -->
    <div id="page-body" class="page-body specialization-page">
        <div class="section-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="img-play"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                        <p class="text-style-1">Lorem.</p>
                        <p class="text-style-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dignissimos dolores</p>
                        <p class="text-style-3">Lorem ipsum dolor sit amet, consectetur </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content right-sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 content-wrap">
                        <div class="sidebar">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto, consectetur eligendi eum excepturi nam nihil repellat temporibus voluptates voluptatibus.</p>
                        </div>
                        <div class="content">
                            <div class="section-content css-shadow">
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto, consectetur eligendi eum excepturi nam nihil repellat temporibus voluptates voluptatibus.</p>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ea eaque veniam! Ducimus, eos, natus.</p>
                                <p><a href="#" class="el-btn fiol-style">Читать дальше</a></p>
                            </div>
                            <div class="section-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto, consectetur eligendi eum excepturi nam nihil repellat temporibus voluptates voluptatibus.</p>
                            </div>
                            <div class="section-content css-shadow">
                                <h2 class="title-section">Лекторы</h2>

                            </div>
                            <div class="section-content">
                                <h2 class="title-section">Что я получу и как это работает?</h2>
                            </div>
                            <div class="section-content css-shadow">
                                <h2 class="title-section">Чему вы  научитесь</h2>

                            </div>
                            <div class="section-content css-shadow">
                                <h2 class="title-section">Список тем</h2>

                            </div>
                            <div class="section-content css-shadow">
                                <h2 class="title-section">Стоимость получения сертификата</h2>

                            </div>
                            <div class="section-content css-shadow">
                                <h2 class="title-section">Рейтинг</h2>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- End Specialization Page -->

    <!-- build:section layout.footer -->
    <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>