<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body mod-modal">
    <div class="container">
      <div class="wrapper-modal">
        <div class="modal-thanksBuying modal-message">
          <div class="title">Спасибо за покупку!</div>
          <div class="main-text">
            Вы успешно оплатили возможность получения сертификата
            с подтверждением по курсу "Управление робототехническими системами"
          </div>
          <div class="additional-text">
            Для этого потребуется прохождение контрольных мероприятий
            с идентификацией личности. Подробнее
          </div>
          <div class="link-wrap">
            Перейти к
            <a href="/">Личному кабинету</a>
            <a href="/">В каталог</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- build:section layout.footer -->
  <!-- /build -->

  <!-- build:section layout.modal -->
  <!-- /build -->

</div>


<!-- scripts -->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>